@model OneBlog.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = @Resources.labels.passwordRetrieval;
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}



<h1 class="account-title">@ViewBag.Title</h1>
<div class="account-body">
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group with-icon first-child">
            @Html.LabelFor(m => m.UserName)
            @Html.TextBoxFor(m => m.UserName, new { @class = "textEntry form-control" })
        </div>
        <input type="submit" class="btn btn-block btn-success" value="发送到邮箱" />
    }
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
