@using OneBlog.Core;
@using OneBlog.NET.Custom.Widgets
@{
    var dic = CategoryList.SortCategories();
}
<!DOCTYPE html>
<html class="no-js">
<head>
    <title>陈仁松博客</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="stay hungry stay foolish" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Custom/Themes/Standard/src/css/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Custom/Themes/Standard/src/css/style.css" />
    <link href="~/content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:700,400" />
</head>
<body class="home-template">
    <div id="wrap">
        <div id="container" class="container container_2col">
            <div class="row">
                <div id="header_sidebar" tabindex="5000" style="overflow: hidden; outline: none; animation-duration: 0.7s; animation-timing-function: ease-in-out;" class="animated fadeIn">
                    <div class="header_line"></div>
                    <header id="header" class="">
                        <div class="logo_container">
                            <a href="@Url.Action("Index","Home")" class="ob_logo">@BlogSettings.Instance.Name</a>
                            <p class="logo_desc">@BlogSettings.Instance.Description</p>
                        </div>
                        <div class="clearfix"></div>
                        <nav id="jqueryslidemenu" class="jqueryslidemenu ">
                            <ul id="nav" class="nav">
                                <li class="nav-home current_page_item"><a href="@Url.Action("Index","Home")" class="current_nav">Home</a></li>
                                @foreach (var cat in dic.Values)
                                {
                                    <li>
                                        <a title="Category: @cat.Title" href="@Url.Action("Category","Home",new { Category = WebUtils.RemoveIllegalCharacters(cat.Title) })" >
                                            @cat.Title
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                        <div class="clearfix"></div>
                        <hr class="ob_line">
                        <form class="search_form">
                            <input id="search-field">
                            <input class="seach_submit" type="submit" value="search">
                            <i class="fa fa-search"></i>
                        </form>
                        <hr class="ob_line">
                        <div class="sub_footer">
                            <ul class="nav nav_social">
                                <li class="n_github"><a href="http://www.github.com/chenrensong" target="_blank"><i class="fa fa-github"></i></a></li>
                                <li class="n_weibo"><a href="http://www.weibo.com/chenrensong" target="_blank"><i class="fa fa-weibo"></i></a></li>
                                <li class="n_mail"><a href="mailto:chenrensong@outlook.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                <li class="n_rss"><a href="@Url.Action("Rss","Home")" target="_blank"><i class="fa fa-rss"></i></a></li>
                            </ul>
                            <div class="clearfix" />
                            <a target="_blank" href="https://mvp.microsoft.com/zh-cn/PublicProfile/4040070" yuuko-static><img src="~/Content/images/mvp.png" alt="微软最有价值专家" class="mvp" /></a>
                            <div class="clearfix" />
                            <p class="pull-left">© Copyright 2008-@DateTime.Now.Year </p>
                        </div><!-- /sub_footer -->
                    </header>
                </div><!-- /header_sidebar -->
                @Html.Action("Menu", "Home")
            </div><!--/row -->
            <div class="clearfix"></div>
            <div id="ascrail2000" class="nicescroll-rails" style="padding-right: 2px; width: 9px; z-index: 3; cursor: default; position: absolute; top: 0px; left: 186px; height: 708px; display: none;"><div style="position: relative; top: 0px; float: right; width: 5px; height: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(0, 0, 0); background-clip: padding-box;"></div></div><div id="ascrail2000-hr" class="nicescroll-rails" style="height: 7px; z-index: 3; top: 701px; left: 0px; position: absolute; display: none;"><div style="position: relative; top: 0px; height: 5px; width: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(0, 0, 0); background-clip: padding-box;"></div></div><div id="ascrail2001" class="nicescroll-rails" style="padding-right: 2px; width: 9px; z-index: 5; cursor: default; position: absolute; opacity: 0; display: block; top: 0px; left: 575px; height: 664px;"><div style="position: relative; float: right; width: 5px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; height: 385px; top: 0px; background-color: rgb(0, 0, 0); background-clip: padding-box;"></div></div><div id="ascrail2001-hr" class="nicescroll-rails" style="height: 7px; z-index: 5; position: absolute; opacity: 0; display: none; top: 657px; left: 195px; width: 380px;"><div style="position: relative; top: 0px; height: 5px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; width: 389px; background-color: rgb(0, 0, 0); background-clip: padding-box;"></div></div>
        </div><!-- /#container -->
        @RenderBody()
    </div><!-- /wrap -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" data-pace-options='{ "restartOnPushState": false }' src="~/Custom/Themes/Standard/src/js/pace.min.js"></script>
    <script type="text/javascript" src="~/Custom/Themes/Standard/src/js/modernizr.min.js"></script>
    <script type="text/javascript" src="~/Custom/Themes/Standard/src/js/jquery.debouncedresize.min.js"></script>
    <script type="text/javascript" src="~/Custom/Themes/Standard/src/js/jquery.history.js"></script>
    <script type="text/javascript" src="~/Custom/Themes/Standard/src/js/animo.min.js"></script>
    <script type="text/javascript" src="~/Custom/Themes/Standard/src/js/ajax-script.js"></script>
    <script type="text/javascript" src="~/Custom/Themes/Standard/src/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Custom/Themes/Standard/src/js/jquery.ghostHunter.min.js"></script>
    <script type="text/javascript" src="~/Custom/Themes/Standard/src/js/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
