@using OneBlog.Core;
@using System.Linq;
@model  OneBlog.Models.MenuViewModels
@{
    var totalCount = Convert.ToInt32(Model.TotalCount);
}
<div class="col-md-8 col-sm-12 ob_post_list" tabindex="5001" style="border-right-color: rgb(238, 238, 238); overflow: hidden; outline: none;">
    @foreach (var post in Model.Posts)
    {
        <article id="list_post-@post.Id" class="post tag-getting-started published animated fadeInLeft" style="animation-duration: 0.4s; animation-timing-function: ease-in-out;">
            <div class="current_line"></div>
            <div class="post_wrap">
                <h2 class="post_title"><a href="@post.RelativeOrAbsoluteLink">@post.Title</a></h2>
                <div class="post_content">
                    @Html.RenderMarkdown(CoreUtils.Abstract(post))
                    <div class="clearfix"></div>
                </div>
                <div class="metadata">
                    <ul>
                        <li class="meta_date"><i class="fa fa-clock-o"></i>@post.DateCreated.ToString("dd MMMM yyyy")</li>
                        <li class="meta_author"><i class="fa fa-user"></i> @post.Author<</li>
                        @*<li class="meta_category"><i class="fa fa-folder-open"></i> <a href="http://www.qlghost.com/tag/getting-started/"></a></li>*@
                        <li class="meta_comments"><i class="fa fa-comment"></i> <a href="@post.RelativeOrAbsoluteLink#comment">Show Comments</a></li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="clearfix"></div>
        </article>
    }
    @Html.Pager(Convert.ToInt32(Model.PageIndex), BlogSettings.Instance.PostsPerPage, totalCount, null, "Index", "Home")
</div>
