@using OneBlog.Core;
@model  OneBlog.Core.IPublishable
<div id="container_post" class="container">
    <div class="row">
        <div class="col-md-6 col-lg-7 col-md-offset-6 col-sm-12 main_col" data-body-class="home-template" style="height: auto;">
            <article id="post-@Model.Id" class="post tag-sky published  has-post-image animated fadeInUp" style="animation-duration: 0.6s; animation-timing-function: ease-in-out;">
                <h2 class="post_title">@Model.Title</h2>
                <div class="post_content">
                    @Html.RenderMarkdown(Model.Content)
                    <div class="clearfix"></div>
                </div>
                <div class="metadata">
                    <ul>
                        <li class="meta_date"><i class="fa fa-clock-o"></i>@Model.DateCreated.ToString("dd MMMM yyyy")</li>
                        <li class="meta_author"><i class="fa fa-user"></i>@Model.Author</li>
                        @*<li class="meta_comments"><i class="fa fa-comment"></i> <a id="commenttoggle" href="javascript:toggle_visibility('commentlist', 'commenttoggle');">Hide Comments</a></li>*@
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </article>
            @Html.Action("Comment", "Home", new { id = Model.Id })

            <script>
                $(function () {
                    $("pre").addClass("prettyprint");
                    prettyPrint();
                });
            </script>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
