@model OneBlog.Data.Models.PostDetail
@inject OneBlog.Services.AdService ads
@inject Microsoft.Extensions.Configuration.IConfigurationRoot config
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var CurrentUser = await UserManager.GetUserAsync(User);


    ViewBag.Title = $"{Model.Title} - 花纷飞|UWP之家";
    CategoryItem category = null;
    if (Model.Categories != null && Model.Categories.Count > 0)
    {
        category = Model.Categories.FirstOrDefault();
    }
    var CommentCount = 0;
    if (Model.Comments != null && Model.Comments.Count == 3)
    {
        CommentCount = Model.Comments[1].Length;
    }
}


<article class="content-post" role="main">
    <div class="content-post-title">
        <h1>@Model.Title</h1>
    </div>
    <div class="content-post-meta">
        <time class="post-date" datetime="@Model.DateCreated">@Model.DateCreated</time>
    </div>
    <div class="content-post-body">
        @Html.Raw(Model.Content)
    </div>
    <div class="content-post-meta post-meta-tags">
        @if (Model.Tags.Count > 0)
        {
            @foreach (var tag in Model.Tags)
            {
                <a asp-controller="Tag" asp-action="Index" class="tags__link" asp-route-tag="@tag.TagName">@tag.TagName</a>
            }
        }
    </div>
    <div class="content-post-author">
        <div class="tile">
            <div class="tile-icon">
                <figure class="avatar avatar-lg">
                    <img src="@Model.Author.Avatar" />
                </figure>
            </div>
            <div class="tile-content">
                <p class="tile-title"><strong>@Model.Author.DisplayName</strong></p>
            </div>
        </div>
    </div>



    @await Component.InvokeAsync("Comment", new { id = Model.Id })

    @section Styles {
        @*<link rel="stylesheet" type="text/css" href="~/3rdparty/css/sh/shCore.css" />
            <link rel="stylesheet" type="text/css" href="~/3rdparty/css/sh/shThemeDefault.css" />
            <link href="~/lib/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
            <link href="~/lib/toastr/toastr.css" rel="stylesheet" />*@
    }

    @section Scripts {
    @*<script type="text/javascript" src="~/3rdparty/js/sh/shCore.js"></script>*@
        @*<script type="text/javascript" src="~/3rdparty/js/sh/shCore.js"></script>
            <script type="text/javascript" src="~/3rdparty/js/sh/shBrushCSharp.js"></script>
            <script type="text/javascript" src="~/3rdparty/js/sh/shBrushJScript.js"></script>
            <script type="text/javascript" src="~/3rdparty/js/sh/shBrushXml.js"></script>
            <script type="text/javascript" src="~/3rdparty/js/sh/shBrushCss.js"></script>
            <script type="text/javascript" src="~/3rdparty/js/sh/shBrushSass.js"></script>
            <script type="text/javascript" src="~/3rdparty/js/syntaxhighlight.js"></script>

            <script type="text/javascript" src="~/lib/toastr/toastr.min.js"></script>
            <script type="text/javascript" src="~/lib/ladda/dist/spin.min.js"></script>
            <script type="text/javascript" src="~/lib/ladda/dist/ladda.min.js"></script>
            <script type="text/javascript" src="~/lib/ladda/dist/ladda.jquery.min.js"></script>

            <environment names="Development">
                <script type="text/javascript" src="~/js/comment.js"></script>
            </environment>*@

        <script type="text/javascript" src="~/lib/lazysizes/lazysizes.min.js" async=""></script>


        <script type="text/javascript">
        One.comments.postId = "@Model.Id";
        SyntaxHighlighter.defaults['toolbar'] = false;
        </script>
    }
