@model List<One.Mock.Data.Site>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>松果-致力接口联调</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="keyword" content="松果,接口,工具" />
    <meta name="description" content="松果平台,致力于下一代接口联调工具研发。" />
    <link rel="stylesheet" type="text/css" href="~/mock/css/base.css">
    <link rel="stylesheet" type="text/css" href="~/mock/css//website-list.css">
    <link rel="stylesheet" type="text/css" href="~/mock/js/lib//toastr/toastr.min.css">
</head>
<body>
    <header class="head-banner-container">
        <nav class="mp-header-content">
            <div class="header-logo">
                <span class="logo-ico">
                </span>
                <span class="logo-title">
                    松果-接口联调
                </span>
            </div>
            <ul class="">
                <li>
                </li>
            </ul>
        </nav>
    </header>
    <div class="col-container">
        <div class="sub-banner">
            <h1 class="website-title" style="display: inline-block">
                站点信息一览
            </h1>
            <a href="#dialog-container" class="add-website-container modal-trigger">
                <button class="add-website-btn">
                    <img src="~/mock/img/add-logo.png" alt="添加">
                    创建站点
                </button>
            </a>
        </div>
        <div class="wrapper main-box">
            <div class="cards-group">
                @foreach (var item in Model)
                {

                    <div class="card-item" data-id="@item.Id" data-default="@item.IsDefault">
                        <textarea class="cookie-content" style="display: none">@item.Cookie</textarea>
                        <div class="panel">
                            <span class="card-head-photo">
                            </span>
                            <div class="card-info">
                                <a class="card-link" href="/mock/admin/rule?Id=@item.Id">
                                    <div class="card-name-bar">
                                        @item.Name
                                    </div>
                                </a>
                                <div class="card-url-bar">
                                    @item.Url
                                </div>
                                <div class="card-path-bar">
                                    @item.SitePaths
                                </div>
                            </div>
                            <div class="card-tips">
                                @if (item.IsDefault)
                                {
                                    <img class="default-flag" src="~/mock/img/default-mark.png" />
                                }
                                <span class="slogen">
                                    松果,让项目联调更轻松
                                </span>
                                <span class="btn-bar">
                                    <span class="delete-card-btn">
                                        删除
                                    </span>
                                    <a href="#dialog-container" class="modify-website-container modal-trigger">
                                        <span class="modify-card-btn">
                                            修改
                                        </span>
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div id="dialog-container" style="display: none">
        <div class="dialog-ct">
            <div class="modal-head-container">
                <span class="modal-title">
                    Create a new account
                </span>
                <img class="modal_close" src="~/mock/img/close-modal.png" alt="叉号">
            </div>
        </div>
        <div class="modal-body-container">
        </div>
        <div class="footer-btn-bar">
            <span class="ensure-btn">
                确定
            </span>
            <span class="cancel-btn">
                取消
            </span>
        </div>
    </div>
    <div id="lean_overlay" style="display: none; opacity: 0.5;">
    </div>
    <script type="text/javascript" src="~/mock/js/lib/jquery.js"></script>

    <script src="~/mock/js/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script type="text/javascript" src="~/mock/js/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/mock/js/lib/jquery.leanModal.js"></script>
    <script type="text/javascript" src="~/mock/js/lib/juicer.js"></script>
    <script type="text/javascript" src="~/mock/js/website-list.js"></script>
</body>
</html>
