@model OneBlog.Data.Models.PostDetail
@inject Microsoft.Extensions.Options.IOptions<AppSettings> AppSettings
@{
    ViewBag.Title = $"{Model.Title} - {AppSettings.Value.Title}";
}
<div class="wrapper">
    <div class="row row--full">
        <div class="column column--center medium-12 large-12">
            <div class="grey-bg CoverImage FlexEmbed FlexEmbed--16by9" style="background-image: url(@Model.Cover1) "></div>
        </div>
        <div class="column column--center medium-10 large-10">
            <article class="post tag-travel tag-lifestyle featured">
                <header class="post__header">
                    <h2 class="post__title">@Model.Title</h2>
                    <time class="post__date" datetime="@Model.DateCreated">@Model.DateCreated</time>
                </header>
                <div class="post-content">
                    @Html.Raw(Model.Content)
                    @if (Model.Tags.Count > 0)
                    {
                        <div class="post__tags">
                            @foreach (var tag in Model.Tags)
                            {
                                <a href="http://www.datiancun.com/Tag/@tag.TagName" target="_blank">@tag.TagName</a>
                            }
                        </div>
                    }
                </div>
                <hr>
                @await Component.InvokeAsync("Comment", new { id = Model.Id })

            </article>
        </div>
    </div>
</div>

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/3rdparty/css/sh/shCore.css" />
    <link rel="stylesheet" type="text/css" href="~/3rdparty/css/sh/shThemeDefault.css" />
    <link href="~/lib/ladda/dist/ladda-themeless.min.css" rel="stylesheet">
    <link href="~/lib/toastr/toastr.css" rel="stylesheet" />
}
@section Scripts {
    <script type="text/javascript" src="~/3rdparty/js/sh/shCore.js"></script>
    <script type="text/javascript" src="~/3rdparty/js/sh/shBrushCSharp.js"></script>
    <script type="text/javascript" src="~/3rdparty/js/sh/shBrushJScript.js"></script>
    <script type="text/javascript" src="~/3rdparty/js/sh/shBrushXml.js"></script>
    <script type="text/javascript" src="~/3rdparty/js/sh/shBrushCss.js"></script>
    <script type="text/javascript" src="~/3rdparty/js/sh/shBrushSass.js"></script>
    <script type="text/javascript" src="~/3rdparty/js/syntaxhighlight.js"></script>
    <script type="text/javascript" src="~/lib/lazysizes/lazysizes.min.js" async=""></script>

    <script type="text/javascript" src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/lib/ladda/dist/spin.min.js"></script>
    <script type="text/javascript" src="~/lib/ladda/dist/ladda.min.js"></script>
    <script type="text/javascript" src="~/lib/ladda/dist/ladda.jquery.min.js"></script>

    <script type="text/javascript" src="~/js/light/post.js" asp-append-version="true"></script>
    <script type="text/javascript">
        OneBlog.comments.postId = "@Model.Id";
        SyntaxHighlighter.defaults['toolbar'] = false;
    </script>



}