@model  OneBlog.Data.Models.PostsResult
@{
    ViewBag.ControllerName = "Root";
}
<div class="wrapper">
    <div class="row row--full">
        <div class="post-list">
            @foreach (var item in Model.Posts)
            {
                var category = item.Categories.FirstOrDefault();
                @*<div class="col-lg-3">
                        <div class="col-xs-12">
                            <div class="article-item  article-item--card">
                                <div class="article-image cover-image" style="background-image: url('@item.Cover1');"></div>

                                <a asp-controller="Root" asp-action="Post" asp-route-id="@item.Id" class="article-link cover-block" target="_blank"></a>
                                <h3>@item.Title</h3>
                                <time>@item.DatePublished</time>
                                <div class="article-meta">
                                    <a class="text-link" href="/post/@item.Id#comment" target="_blank">
                                        <span><i class="glyphicon glyphicon-comment"></i> @item.CommentsCount</span>
                                    </a>
                                    <span><i class="glyphicon glyphicon-record"></i> @item.ReadCount</span>
                                </div>
                            </div>

                        </div>
                    </div>*@
                <article class="post-card-wrap column medium-6 large-4 ">
                    <div class="post-card  post-card--featured ">
                        @if (category != null)
                        {
                            <a asp-action="index" asp-controller="category" asp-route-id="@category.Id" class="article-label" target="_blank">@category.Title</a>
                        }
                        <a asp-controller="@ViewBag.ControllerName" asp-action="Post" asp-route-id="@item.Id" class="block" title="@item.Title">
                            <div class="grey-bg post-card__image CoverImage FlexEmbed FlexEmbed--16by9" style="background-image: url(@item.Cover1) ">
                            </div>
                        </a>
                        <h2 class="post-card__title post-card__title--medium">
                            <a title="@item.Title" asp-controller="@ViewBag.ControllerName" asp-action="Post" asp-route-id="@item.Id">@item.Title</a>
                        </h2>
                        <time>@item.DatePublished</time>
                        <div class="article-meta">
                            <a class="text-link" href="/post/@item.Id#comment" target="_blank">
                                <span><i class="glyphicon glyphicon-comment"></i> @item.CommentsCount</span>
                            </a>
                            <span><i class="glyphicon glyphicon-record"></i> @item.ReadCount</span>
                        </div>
                    </div>
                </article>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial("_Pager")
        </div>
    </div>
</div>
