@using System.Web.Optimization
@using OneBlog.Core
@using OneBlog.Core.Providers
@using System.Web.Configuration
@using System.Collections.Generic;
@using OneBlog.Core.Web.Extensions;
@using System.Web.Mvc;
@using System.Web.Mvc.Html;
@{
    Layout = null;
    var ExtensionName = ViewBag.ExtensionName;
    string SettingName = null;
    var extensions = ExtensionManager.Extensions.Where(x => x.Key != "MetaExtension").ToList();

    if (!Blog.CurrentInstance.IsPrimary)
    {
        extensions = extensions.Where(x => x.Value.SubBlogEnabled == true).ToList();
    }

    extensions.Sort(
        (e1, e2) => e1.Value.Priority == e2.Value.Priority ? string.CompareOrdinal(e1.Key, e2.Key) : e1.Value.Priority.CompareTo(e2.Value.Priority));

    List<ManagedExtension> manExtensions = new List<ManagedExtension>();

    foreach (KeyValuePair<string, ManagedExtension> ext in extensions)
    {
        var oExt = ExtensionManager.GetExtension(@ext.Key);
        manExtensions.Add(oExt);
    }

    var extension = manExtensions.Where(x => x.Name == ExtensionName).FirstOrDefault();
}

<html>
<head>
    <title>@SettingName @Resources.labels.settings</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        .alert-info {
            margin-right: 10px;
        }

        input[type="checkbox"] {
            margin-right: 6px !important;
        }
    </style>
</head>
<body>
    <script type="text/javascript">
        var SiteVars = {
            ApplicationRelativeWebRoot: '@CoreUtils.ApplicationRelativeWebRoot',
            RelativeWebRoot: '@CoreUtils.RelativeWebRoot',
            BlogInstanceId: '@Blog.CurrentInstance.Id'
        };
    </script>
    <script type="text/javascript" src="admin.res.axd"></script>
    <div id="StatusBox">
        <div id="AdminStatus" runat="server"></div>
    </div>

    @if (extension != null && extension.BlogSettings.Count > 0)
    {
        foreach (var s in extension.BlogSettings)
        {
            if (!string.IsNullOrEmpty(s.Name) && !s.Hidden)
            {
                Html.RenderPartial("_ExtensionsLayout", s.Name);
            }
        }
    }

</body>
</html>