@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<Microsoft.AspNetCore.Identity.EntityFrameworkCore.IdentityRole> RoleManager
@inject One.Helpers.NavigationHelper NavigationHelper
@inject Microsoft.Extensions.Configuration.IConfigurationRoot config
@{
    var CurrentUser = await UserManager.GetUserAsync(User);
    var TopTags = NavigationHelper.GetTopTags();
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="大田村、UWP、Windows10、WM10、UWP开源项目" />
    <meta name="description" content="大田村提供手机评测和ROM下载，以及WP10软件，还有WM10游戏，越狱，破解，WP10教程，铃声，壁纸和开发等资源。" />
    <title>@ViewBag.Title</title>
    <meta name="msvalidate.01" content="31052FFF2A8139A12318093DC9CAF3CE" />
    <environment names="Development">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment names="Production,Staging">
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/site/css/site.min.css" asp-append-version="true" rel="stylesheet" />
    </environment>
    @RenderSection("Styles", required: false)
</head>
<body>
    <header class="header  push-down-45 ">
        <div class="container">
            <div class="logo  pull-left">
                <a href="/">
                    <img src="http://cdn.datiancun.com/static/image/logo.png" alt="Logo" width="352" height="140">
                </a>
            </div>

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#readable-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            @Html.Partial("_Menu")

            <div class="hidden-xs  hidden-sm">
                @if (CurrentUser == null)
                {
                    <a asp-action="login" asp-controller="account" asp-route-ReturnUrl="@Context.Request.Path" class="account__container"> <span class="glyphicon  glyphicon-user"></span> </a>
                }
                else
                {
                    <form id="logoutForm" asp-controller="Account" asp-action="LogOff" asp-area="" asp-route-ReturnUrl="@Context.Request.Path"
                          method="post" role="form">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle mytoolslink" data-toggle="dropdown" aria-expanded="false">
                                    <img src="@CurrentUser.Avatar">
                                    <span class="user_name">@CurrentUser.DisplayName</span>
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    @if (await UserManager.IsInRoleAsync(CurrentUser, "Administrator"))
                                    {
                                        <li><a asp-action="Index" asp-controller="Admin" asp-area="Admin"> 系统管理</a></li>
                                    }
                                    <li><a asp-action="Setting" asp-controller="Account"> 账户设置</a></li>
                                    <li><a href="javascript:document.getElementById('logoutForm').submit()">注销</a></li>
                                </ul>
                            </li>
                        </ul>
                    </form>
                }
                <a href="#" class="search__container  js--toggle-search-mode"> <span class="glyphicon  glyphicon-search"></span> </a>
            </div>
        </div>
    </header>

    <div class="search-panel">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <form role="form">
                        <input id="bdcsMain" type="text" class="search-panel__form  js--search-panel-text" placeholder="请输入要搜索的内容">
                        <p class="search-panel__text">enter：搜索 | esc：取消搜索</p>
                    </form>
                </div>
            </div>
        </div>
    </div>


    @RenderBody()

    <footer class="footer">
        <div class="container">

            <div class="col-xs-12  col-md-3">
                <div class="tags  widget-tags">
                    <h6>Tags</h6>
                    <hr>
                    @foreach (var tag in TopTags)
                    {
                        <a asp-controller="Tag" asp-action="Index" class="tags__link" asp-route-tag="@tag.TagName">@tag.TagName</a>
                    }
                </div>
            </div>
            <div class="col-xs-12  col-md-3">
                <nav class="widget-navigation  push-down-30">
                    <h6>联系合作</h6>
                    <hr>
                    <ul class="navigation">
                        <li> <a href="mailto:icracker#msn.com">联系我们</a> </li>
                        <li> <a href="mailto:icracker#msn.com">建议反馈</a> </li>
                        <li> <a asp-controller="Root" asp-action="About">关于我们</a> </li>
                    </ul>
                </nav>
            </div>
            <div class="col-xs-12  col-md-3">
                <div class="widget-licence  push-down-30">
                    <h6>内容许可</h6>
                    <hr>
                    <span class="widget-contact__text">
                        除特别说明外，用户内容均采用 <a rel="license" target="_blank" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">知识共享署名-非商业性使用-禁止演绎 4.0 国际许可协议</a> 进行许可
                    </span>
                </div>
            </div>
            <div class="col-xs-12  col-md-3">
                <div class="widget-about  push-down-30">
                    <div style="text-align:center">
                        <img src="http://cdn.datiancun.com/static/image/aspnetcore.png" alt="Powered By ASP.NET Core" width="176">
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <footer class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-xs-12  col-sm-6">
                    Copyright © <a href="http://www.datiancun.com/">大田村</a> All Rights Reserved.
                </div>
                <div class="col-xs-12  col-sm-6">
                    <div class="copyrights--right">
                        京ICP备16013211号
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Production,Staging">
        <script src="~/lib/site/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?f27f234e41088abbd83780decd86eeac";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
    <script type="text/javascript">(function () { document.write(unescape('%3Cdiv id="bdcs"%3E%3C/div%3E')); var bdcs = document.createElement('script'); bdcs.type = 'text/javascript'; bdcs.async = true; bdcs.src = 'http://znsv.baidu.com/customer_search/api/js?sid=9749901961457238908' + '&plate_url=' + encodeURIComponent(window.location.href) + '&t=' + Math.ceil(new Date() / 3600000); var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(bdcs, s); })();</script>
</body>
</html>
