@model One.Data.Models.PostItem
@{
    var category = Model.Categories.FirstOrDefault();

}
<div class="col-xs-12">
    <div class="article-item  article-item--card">
        <div class="article-image cover-image" style="background-image: url('@Model.Cover1');"></div>
        @if (category != null)
        {
            <a asp-action="index" asp-controller="category" asp-route-id="@category.Id" class="article-label" target="_blank">@category.Title</a>
        }
        <a asp-controller="Root" asp-action="Post" asp-route-id="@Model.Id" class="article-link cover-block" target="_blank"></a>
        <h3>@Model.Title</h3>
        <time>@Model.DatePublished</time>
        <div class="article-meta">
            <a class="text-link"  href="/post/@Model.Id#comment" target="_blank">
                <span><i class="glyphicon glyphicon-comment"></i> @Model.CommentsCount</span>
            </a>
            <span><i class="glyphicon glyphicon-record"></i> @Model.ReadCount</span>
        </div>
    </div>

</div>
